<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#MainNavBar" aria-controls="MainNavBar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Navbar brand -->

	<div class="navbar-brand">
		{% if homescreen %}
			<form class="form-inline my-2 my-lg-0">
				<input id="FilterSongs" class="form-control mr-sm-2" type="search" placeholder="Filter" aria-label="Search">

			</form>
		{% else %}
			<a class="nav-link" href="/">
				<i class="fas fa-home"></i>
				Home</a>
		{% endif %}
	</div>

	<ul class="navbar-nav mr-auto">
		<li class="nav-item navbar-text active  navbar-expand">

			<img id="cointotalscore" src="/img/goldcoin.png" width="30" height="30" alt="">
			{% if userpoints %}
				<span id="totalscore" userid="{{userid}}">{{userpoints}}</span>
			{% else %}
				<span id="totalscore" userid="{{userid}}">0</span>
			{% endif %}
			Points

		</li>
	</ul>
	<div
		class="collapse  navbar-collapse" id="MainNavBar">
		{# Only displayed in the home screen #}
		{% if homescreen %}
			<ul class="navbar-nav mr-auto">

				<li class="nav-item active ">

					<a class="nav-link" data-bs-toggle="modal" data-bs-target="#AddPlaylistModal">Add playlist</a>
				</li>


			</ul>
		{% endif %}
		<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-user"></i>User
				</a>
				<div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="userDropdown">

					<a class="dropdown-item" href="{{ url_for('user.preferences') }}">User Preferences</a>

					<a class="dropdown-item" href="{{ url_for('user.changepassword') }}">Change Password</a>

					<div class="form-check dropdown-item">
						<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
						<label class="form-check-label" for="defaultCheck1">
							Default checkbox
						</label>
					</div>


					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{ url_for('auth.signout') }}">Log Out</a>

				</div>
			</li>
		</ul>

	</div>
	<!-- Links -->


</nav>
<!--/.Navbar-->
