{% extends "main.twig" %}


{% block headers %}{% endblock %}


{% block menu %}
	{{ include('menu.twig') }}
{% endblock %}

{% block interactivemenus %}
	{{include('interactivemenus/loadfile.twig')}}
{% endblock %}
{% block content %}
	<div id="BrowserError" class="row invisible">

		<div class="alert alert-danger" role="alert">
			<h4 class="alert-heading">Browser allert</h4>
			<p>Your browser doesn't allow automatic music play</p>
			<p class="mb-0">Please change the settings, it should be located near the address bar</p>
			<hr>

			{{ include('elements/BrowserErrorFF.twig') }}

		</div>
	</div>
	<div id="MainPage" class="container-fluid row" playlistid="{{playlistid}}">
            <div class="col-sm-3">
            <div id="score">
            <span id="currentscore">0</span> Points
            </div>
            <div id="answer" class="invisible">
				<div id="artist"><span id="artistname"></span></div>
				<div id="title"><span id="titlename"></span></div>
                <div id="waitbeforenext"></div>
			</div>
            </div>

            <div class="col-sm-9">
			<h1>{{playlistname}}</h1>

			<div id="Play" class="row">
				<button class="btn btn-primary" type="button" disabled>
					<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
					<span class="sr-only">PLaying...</span>
					<i class="fas fa-music"></i>
				</button>
				<!-- Default form contact -->
				<form id="FormGuess" class="text-center border border-light p-5" action="#!">


					<input
					id="YourGuess" type="text" class="form-control mb-4" placeholder="">


					<!-- Send button -->
					<button class="btn btn-info btn-block" type="submit">Submit Answer</button>

				</form>
				<!-- Default form contact -->

			</div>

		</div>
		</div>


			

	


	</div>

{% endblock %}

{% block javascripts %}

	<script src="/js/levenshtein.js" type="text/javascript"></script>
	<script src="/js/play.js" type="text/javascript"></script>

{% endblock %}
