{% extends "main.twig" %}


{% block headers %}
	<link rel="stylesheet" href="/css/circle.css" type="text/css">
	<link rel="stylesheet" href="/css/fireworks.css" type="text/css">
{% endblock %}


{% block menu %}
	{{ include('menu.twig') }}
{% endblock %}

{% block interactivemenus %}{% endblock %}
{% block content %}

	<!-- Browser error pane on playing a title -->
	<div id="BrowserError" class="row invisible">

		<div class="alert alert-danger" role="alert">
			<h4 class="alert-heading">Whoop's someting went wrong</h4>
			<p>We were not able to play this music</p>
			<p id="ErrorMusicInfo" trackid=""></p>
			<p class="mb-0">Please check your browser permissions or retry later</p>
			<button class="btn btn-primary" type="button" onclick="skipCurrentSong();">
				<i class="fas fa-forward"></i>
				Skip this song
			</button>

		</div>
	</div>
	<div id="MainPage" class="d-flex justify-content-center container-fluid row" playlistid="{{playlistid}}" gamesid="{{gamesid}}">

		<div
			id="interactionpane" class="col-12 col-sm-4 col-md-4 col-lg-6 col-xl-6">
			<!-- Display answer pane -->
			<div id="answer" class="card mb-3 invisible">
				<div class="row no-gutters">
					<div class="col-2 my-auto">
						<div class="image-container">
							<a id="track_link" href="" target="_blank">
								<img id="trackimage" class="card-img hidden" src="" alt="albumimage">
								<img class="image-helper-center" src="/img/icons/deezer-brands.svg">
							</a>
						</div>
						<div id="waitbeforenextcircle" class="c100 p0 hidden">
							<span id="waitbeforenext">5</span>
							<div class="slice">
								<div class="bar"></div>
								<div class="fill"></div>
							</div>
						</div>
					</div>
					<div class="col-10">
						<div class="card-body">
							<h5 class="card-title">The answer was</h5>

							<div id="artist" role="alert" class="hidden">
								<span id="artistname"></span>
								<img class="hidden" id="artistpoints1" src="/img/golcoinanim.gif" width="30" height="30" alt="">
								<img class="hidden" id="artistpoints2" src="/img/golcoinanim.gif" width="30" height="30" alt="">
							</div>


							<div id="title" role="alert" class="hidden">
								<span id="titlename"></span>
								<img class="hidden" id="titlepoints1" src="/img/golcoinanim.gif" width="30" height="30" alt="">
								<img class="hidden" id="titlepoints2" src="/img/golcoinanim.gif" width="30" height="30" alt="">
							</div>


						</div>
					</div>
				</div>
			</div>
			<!-- Actual play pane -->
			<div id="Play" class="invisible container-fluid">
				<div class="row ">
					<div class="col-3">
						<button id="audiocontroller" class="btn btn-primary" type="button" onclick="playpause();">
							<i id="audiocontroller_mute" class="fas fa-volume-mute"></i>
							<i id="audiocontroller_unmute" class="fas fa-volume-up invisible"></i>
						</button>
					</div>
					<div class="col-9">
						<div class="progress">
							<div id="countdown" class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="30"></div>
						</div>
					</div>

				</div>
				<div class="row ">
					<div
						class="col-12">
						<!-- Default form -->
						<form id="FormGuess" class="text-center" action="#!">
							<input
							id="YourGuess" type="text" class="form-control mb-4" placeholder="">
							<!-- Send button -->
							<button id="btnsubmitanswer" class="btn btn-info btn-block" type="submit">Submit Answer</button>
						</form>
						<!-- Default form -->
					</div>
				</div>
			</div>
			<!-- Before the game start pane -->
			<div id="Start" class="row">
				<button id="startbutton" class="btn btn-info btn-block" onclick="playtitle();" disabled>Start the Game</button>
			</div>
			<!-- Playlist information -->
			<div id="Playlistinfo" class="row ">
				<div class="row col-12">
					<h5 class="">{{playlistname}}</h5>
				</div>


				<div class="row">
					<div class="col-4 my-auto">
						<div class="image-container">
							<a href="{{playlist_link}}" target="_blank">
								<img src="{{playlist_picture}}" class="card-img">
								<img class="image-helper-center" src="/img/icons/deezer-brands.svg">
							</a>
						</div>
					</div>
					<div class="col-8">
						<p class="card-text">Highscore is :
							<img id="coinscore" src="/img/crown.png" width="30" height="30" alt="">
							<span id="highscorenickname">{{highscores.nickname}}</span>
							with
							<span id="highscore">{{highscores.score}}</span>
							points</p>
						<p class="card-text">Your score is :
							<img id="coinscore" src="/img/goldcoin.png" width="30" height="30" alt="">
							<span id="currentscore">0</span>
							Points</p>
					</div>
				</div>
			</div>

		</div>
		<div id="userspane" class="col-12 col-sm-8 col-md-8 col-lg-6 col-xl-6">

			<ul id="userslist">
				{% for player in players %}
					<li userid="{{player.id}}">{{player.nickname}}</li>
				{% endfor %}
			</ul>

		</div>

		<div id="Finished" class="invisible">
			<h1>Congratulations you finished this game</h1>
			<center>
				<div id="fireworksplace" style="width: 300px;height: 300px;"></div>
			</center>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.3.3/pixi.min.js" type="text/javascript"></script>
	<script src="/js/k-nuton_fireworks.js" type="text/javascript"></script>
	<script src="/js/fireworks.js" type="text/javascript"></script>
	<script src="/js/play.js" type="text/javascript"></script>

{% endblock %}
