{% extends "main.twig" %}


{% block headers %}
	<link rel="stylesheet" href="/css/fireworks.css" type="text/css">
	<link href="/css/dots.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block menu %}
	{{ include('menu.twig') }}
{% endblock %}

{% block interactivemenus %}{% endblock %}
{% block content %}

	<!-- Browser error pane on playing a title -->
	<div id="BrowserError" class="row invisible">

		<div class="alert alert-danger" role="alert">
			<h4 class="alert-heading">Whoop's someting went wrong</h4>
			<p>We were not able to play this music</p>
			<p id="ErrorMusicInfo" trackid=""></p>
			<p class="mb-0">Please check your browser permissions or retry later</p>
			{# <button class="btn btn-primary" type="button" onclick="skipCurrentSong();">
							<i class="fas fa-forward"></i>
							Skip this song
						</button> #}
			<div class="stage">
				<div class="dot-pulse"></div>
			</div>

		</div>
	</div>
	<div
		id="MainPage" class="d-flex justify-content-center container-fluid row" playlistid="{{playlistid}}" gamesid="{{gamesid}}">


		<!-- Actual play pane -->
		<div id="Play" class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-6">
			<div id="PlayTimer" class="row invisible">
				<div id="countdownprogress" class="col-10">
					<div class="progress ">
						<div id="countdown" class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="30"></div>
					</div>
				</div>
				<div id="answerTimer" class="col-2 badge bg-primary" time-in-ms="0">0.00s</div>

			</div>
			<div id="suggestionspane" class="col-12"></div>
		</div>
		<!-- Before the game start pane -->
		<div id="Start" class="col-12">
			<button id="startbutton" class="btn btn-primary btn-block center" onclick="playtitle();" disabled>Start the Game</button>
		</div>


		<div id="userspane" class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-6 invisible">

			<ul id="userslist" class="list-group">
				{% for player in players %}
					<li class="list-group-item" userid="{{player.id}}">{{player.nickname}}
						<i class="fas fa-globe green"></i>

						<img id="coinscore_{{player.id}}" src="/img/goldcoin.png" width="20" height="20" alt="">
						<span id="currentscore_{{player.id}}">{{player.score}}</span>

					</li>
				{% endfor %}
			</ul>
			<!-- Playlist information -->
			<div id="Playlistinfo" class="row ">
				<div class="row col-12">
					<h5 class="">{{playlistname}}</h5>
				</div>


				<div class="row">
					<div class="col-4 my-auto">
						<div class="image-container">
							<a href="{{playlist_link}}" target="_blank">
								<img src="{{playlist_picture}}" class="card-img">
								<img class="image-helper-center" src="/img/icons/deezer-brands.svg">
							</a>
						</div>
					</div>
					<div class="col-8">
						<p class="card-text">Highscore is :
							<img id="coinscore" src="/img/crown.png" width="30" height="30" alt="">
							<span id="highscorenickname">{{highscores.nickname}}</span>
							with
							<span id="highscore">{{highscores.score}}</span>
							points</p>

					</div>
				</div>
			</div>
		</div>

		<div id="Finished" class="invisible">
			<h1>Congratulations you finished this game</h1>
			<center>
				<div id="fireworksplace" style="width: 300px;height: 300px;"></div>
			</center>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.3.3/pixi.min.js" type="text/javascript"></script>
	<script src="/js/k-nuton_fireworks.js" type="text/javascript"></script>
	<script src="/js/fireworks.js" type="text/javascript"></script>
	<script src="/js/play.js" type="text/javascript"></script>

{% endblock %}
