{% macro playlistcard(id,playlistname,picture,link,tracks,played) %}

	<!-- Card -->
	<div class="card col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">


		<div class="carddata">
			<div
				class="image-container">
				<!-- Card image -->
				<a class="playlistlink" href="/blindtest/play/{{id}}.html">
					<img class="card-img-top" src="{{picture}}" alt="{{playlistname}}">
					<img class="image-helper-center" src="/img/icons/play-circle-regular.svg">

				</a>
				<div class="image-helper-bottomright">
					<span class="tracksnumber">
						{% if tracks == 0 %}
							?
						{% else %}
							{{tracks}}
						{% endif %}
					</span>
					tracks
					<button type="button" class="btn updatetracksaction" playlist="{{id}}">
						<i class="fas fa-sync"></i>
					</button>
				</div>
			</div>
			<!-- Card content -->
			<div
				class="card-body">
				<!-- Title -->

				<button class="btn playlistname" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{id}}" aria-expanded="false" aria-controls="collapse{{id}}">
					{{playlistname}} <i class="fas fa-caret-square-down"></i>
				</button>
				<div class="collapse" id="collapse{{id}}">
					<p class="center">Played
						{{played}}
						times</p>
		
					<a href="{{ link }}" target="_blank" class="center btn btn-light col-sm-12">
						<i class="fab fa-deezer"></i>
						Deezer</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Card -->


{% endmacro %}
