{# {{dump(suggestions) }} #}

<div class="row">
	{% for suggestion in suggestions %}
		<div class="col-6">
			<div trackid="{{suggestion.id}}" class="submitanswer  card-light">

				<div class="trackimagecontainer">
					<img class="trackimage  center" src="{{suggestion.cover}}" alt="albumimage">
					<div class="goldcoincontainer">
					{% for i in 1..4 %}
						<img class="invisible goldcoin  points_{{i}}" src="/img/golcoinanim.gif" width="30" height="30" alt="">
					{% endfor %}
					</div>
				</div>
				<div class="center">

					<span class="suggestion">{{suggestion.artist}}</span>
					<br>
					<span class="suggestion">{{suggestion.song}}</span>

					<div class="progress invisible">

						<div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5"></div>

					</div>

				</div>

			</div>
		</div>
	{% endfor %}
</div>
