{# {{dump(suggestions) }} #}

<div class="row">
{% for suggestion in suggestions %}
    <div class="col-6">
	<div trackid="{{suggestion.id}}" class="submitanswer card card-light">


		<img class="trackimage card-img-top center" src="{{suggestion.cover}}" alt="albumimage">


		<div class="card-body center">

			{{suggestion.artist}}
			<br>
			{{suggestion.song}}
			<img class="invisible points1" src="/img/golcoinanim.gif" width="30" height="30" alt="">
			<img class="invisible points2" src="/img/golcoinanim.gif" width="30" height="30" alt="">


			<div class="progress invisible">

				<div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5"></div>

			</div>

		</div>

	</div>
    </div>
{% endfor %}
</div>